format = """
[╭─  ](bold #769ff0)$os$directory$package$git_branch$git_status$fill$cmd_duration$time[─╮ ](bold #769ff0)
[╰─](bold #769ff0)$character"""

# right_format = '[ ❮─╯](bold #769ff0)'
right_format = '[ ─╯](bold #769ff0)'
add_newline = true

[fill]
symbol = ' '
style = 'bold black'

[os]
format = '[$symbol]($style)(os.sympols)'
style = ''
disabled = false

[character]
success_symbol = '[❯](bold #769ff0)'
error_symbol = '[✕](bold #FF8787)'

[directory]
style = "fg:#769ff0"
format = "[ $path ]($style)(read_only)(read_only_style)"
truncation_length = 3
truncation_symbol = ".../"
read_only = "󰌾 "
read_only_style = "fg:#FF6B6B"
home_symbol = "  ~"

[directory.substitutions]
"Documents" = " 󰈙  "
"Downloads" = "   "
"Music" = "   "
"Pictures" = "   "
"Desktop" = "   "
"Movies" = "   "

[git_branch]
symbol = '[  ](fg:#00E5FF)'
style = ""
format = '[[ $symbol $branch ](fg:#00B7EB)]($style)'

[git_status]
# style = "bold fg:"
format = '[($all_status$ahead_behind )]($style)'
conflicted = '[ =](#f7768e)'
ahead = '[ ⇡${count}](#7aa2f7)'
behind = '[ ⇣${count}](#FFAA66)'
diverged = '[ ⇕${count}](#CBA6F7)'
up_to_date = '[ ](#8CCF7E)'
untracked = '[ ?${count}](#FFD580)'
stashed = '[ ${count}](#A099FF)'
modified = '[ !${count}](#00B7EB)'
staged = '[ +${count}](#8CCF7E)'
renamed = '[ »${count}](#1793D1)'
deleted = '[ ✘${count}](#f7768e)'

[nodejs]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol ($version) ](fg:#769ff0 bg:#212736)]($style)'

[rust]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol ($version) ](fg:#769ff0 bg:#212736)]($style)'

[golang]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol ($version) ](fg:#769ff0 bg:#212736)]($style)'

[php]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol ($version) ](fg:#769ff0 bg:#212736)]($style)'

[cmd_duration]
disabled = false
min_time = 2_000
style = "fg:#00B7EB"
format = '[$duration  ]($style)'

[time]
disabled = false
time_format = "%R"              # Hour:Minute Format
style = "fg:#769ff0"
format = '[ $time   ]($style)'

[package]
symbol = "󰏗 "

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = '[ ](#1793D1)'
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "
