@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

/* Main container */
.container {
  border: 1px solid rgba(180, 201, 255, 0.7);
  backdrop-filter: blur(50px);
  background: rgba(40, 52, 87, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: rgba(180, 201, 255, 0.7);
  margin-top: 165px;
  margin-left: 4vw;
  padding: 10px 0;
  width: 18vw;
  border-radius: 7px;
}

/* Time display */
.time {
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  color: rgba(180, 201, 255, 0.7);
  position: relative;
  bottom: 34%;
  font-family: "Roboto", sans-serif;
}
